<a href="https://colab.research.google.com/github/lingchm/datascience/blob/master/1_Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##1. Python Basics

###Variable Naming

Rules
* First character is a letter or "_"
* Only containining letter, number, and "_"
* Caps sensitive

Naming Rules
* 下划线命名法: laioffer_class
* 匈牙利命名法: laiofferClass
* [Google Python Style Guide convention](https://google.github.io/styleguide/pyguide.html)
* [Python PEP8](https://www.python.org/dev/peps/pep-0008/#function-and-variable-names) 

module_name, package_name, **ClassName**, **method_name**, ExceptionName, **function_name**, GLOBAL_CONSTANT_NAME, global_var_name, instance_var_name

###Math Operations

In [0]:
# Sum
print(1+2)

# Substraction
print(2-1)

# Multiplication
print(2*3)

# Dividion with decimals
print(3/2)

# Division with integers, no round up
print(3//2)

# Power
print(3**3)

# Mod
print(3%2)

3
1
6
1.5
1
27
1

In [0]:
# Power comes before
print(2 * 2 ** 3)

# If there is a decimal in the operation, the result will have decimals
print(2 * 3.1)

# Concadenating strings
print("123" + "3")
#print("!23" + 3)

# Check type
print(type("abc"))

# Multiplication works because it is similar to addition
print("123" * 0)
print("123" * 2)
print(type("123" * 2))

# addiction
x = 2
x += 1 
print(x)

#decimal places depends on the operator
print(123)
print(98.6)
print(9/2)
print(99/100)
print(99.0/100)

# Changing types
print(float(99//100))
print(int(99.0/100))
print(int("123")+3)
#print(int("123.0")+3) error
print(float("123.0")+3)
print("123.0" + str(3))

16
6.2
1233
<class 'str'>

123123
<class 'str'>
3
123
98.6
4.5
0.99
0.99
0.0
0
126
126.0
123.03

###Variable Types

* bool
* int long -> puthon automatically switches
* float
* str
* None

In [0]:
my_book = None
a = [] # is not None because occupies a space
a == None

False

**Boolean**

0 and Null values == False

Otherwise == True

In [0]:
t = True
f = False

print(type(t)) # class 'bool' 
print(t or f) # True
print(t and f) # False 
print(not t) # False
print(not f) # True

print(1 or f) # (Advanced, just know it is enough)

<class 'bool'>
True
False
False
True
1

**String**

In [0]:
# User input
name = input("Who are you?")
print(name)

#raw_input used for Python2. Input for python 3

Who are you?Ling
Ling

In [0]:
# Convert Europe floor to US floor
inp = input('Europe floor?')
usf = int(inp) + 1
print(usf)

Europe floor?4
5

In [0]:
#Tool to calculate BMI
weight = float(input("weight in kg?")) #kg
height = float(input("height in m?")) #m
bmi = weight / (height ** 2)
if bmi < 25:
  print ('bmi is', bmi, 'healthy')
elif bmi < 30:
  print ('bmi is', bmi, 'overweight')
elif bmi < 40:
  print ('bmi is', bmi, 'seriously overweight')
else:
  print ('bmi is', bmi, 'super overweight')

weight in kg?64
height in m?1.6
bmi is 24.999999999999996 healthy

###Loop

* range(x) -> [0, x)
* range(x,y) -> [x, y)

In [0]:
#If 
a = 1
if a == 1:
  a = a + 1
elif a == 2:
  a = a + 2
elif a == 4:
  a = a + 3
else:
  a = a + 4

#M1 In + String
for letter in 'laioffer':
  print ('letter is:', letter)

#M2 In + list
names = ['Jack', 'Allen', 'Gab']
for name in names:
  print (name)

#M3 In + Range
for i in range(1,3):
  print (i)

#while
abc = 'laioffer'
length = len(abc)
index = 0
while index < length:
  print (abc[index])
  index += 1

#Break 
for letter in 'laioffer':
  if letter == 'i':
      break
  print ('letter is: ', letter)

for i in range (1,3):
  for letter in 'laioffer':
    if letter == 'i':
        break
    print (i)

#Continue
for letter in 'laioffer':
  if letter == 'i':
      continue
  print ('letter is: ', letter)

#Student Pracice
sum = 0
n = int(input("how many?"))
for i in range(n):
  sum += int(input("number?"))
print (sum)

letter is: l
letter is: a
letter is: i
letter is: o
letter is: f
letter is: f
letter is: e
letter is: r
Jack
Allen
Gab
1
2
l
a
i
o
f
f
e
r
letter is:  l
letter is:  a
1
1
2
2
letter is:  l
letter is:  a
letter is:  o
letter is:  f
letter is:  f
letter is:  e
letter is:  r
how many?2
number?1
number?1
2

In [0]:
for i in range(1,5,2): #1, 3
  print(i)

for i in range(9,1,-3): #9,6,3
  print(i)

for i in range(-1): #none
  print(i)

1
3
9
6
3

### Logical Operators
* ==
* !=
* not
* and
* or

In [0]:
print(1 != 1)
print(not not 1 != 1)

a = 3
b = 4
if not a == 3 and b == 4:
  print("hello")
if (not a == 3) and b == 4:
  print("hello")
if not (a == 3 and b == 4): #nor
  print("hello")
if (a==3) != (b==4): #xor
  print("hello")



print(True and not False)
print(True or not False)
print(False and not False)

False
False
True
True
False

###Functions

RETURN
* Any code after RETURN will not be executed, even if there are multiple returns
* Can return multiple values using "," or "+"
* PRINT + nothing or RETURN or RETURN None --> "None"
* RETURN assigns the value to a function while PRINT only shows the results
* if no return, assume none

Default vs Required variables
* Required: the number of parameters must match with number of parameters specified
* Default: if assign default, values not required.

Parameter Passing
* Keyword
* Positional
* Default value parameters must be after positional parameters

Global vs Local Variables
* If use global variables inside a function, must add GLOBAL arg1. If do not add GLOBAL arg1, will create a local variable called the same name but do not affect the global one
* Any variables created inside a function are local variables
* Any variable declared outside are global variables and can be used in any function in the program
* Storage difference

In [0]:
#Required and Keyword arguments
def printinfo(name, age):
  print ("Name", name)
  print ("Age", age)
  return
printinfo(age=50, name="miki")

#Default
def printinfo(name, age=35):
  print ("Name", name)
  print ("Age", age)
  return
printinfo(name="miki")

#undefined number of arg
def square(*arg):
  pass  #arg is a tuple
square(1,23,4)

#undefined number of arg and name
def test(**args):
  print (args['a'])
  print (args['b'])
test(a=1, b=2)

#Sum of squares
def sumofsquares():
  for i in range(3):
    for letter in 'laioffer':
      if letter == 'i':
        return None
      print (letter)
    print (i)
a = sumofsquares()
print (a)

#Name
def printme(age, name="Allen"):
  return (name, age)

a, b = printme(name="allen", age=17)
c = printme(name="allen", age=17)
print (a, b)  #allen, 17
print (c)     #('allen', 17)

Name miki
Age 50
Name miki
Age 35
1
2
l
a
None
allen 17
('allen', 17)

In [0]:
#Local vs Global  
total = 0
def sum(arg1, arg2):
  total = arg1 + arg2
  print ("Inside the function local total:", total)
sum(10, 20)
print ("Outside the function global total:", total)

#Converting local to global
total = 0
def sum(arg1, arg2):
  global total
  total += arg1 + arg2
  print ("Inside the function local total:", total)
sum(10, 20)
sum(10, 20)
print ("Outside the function global total:", total)

Inside the function local total: 30
Outside the function global total: 0
Inside the function local total: 30
Inside the function local total: 60
Outside the function global total: 60

In [0]:
#Prime number = a number with exactly 2 factors
def isPrime(x):
  if x == 1:
    return False
  for i in range(2,x):
    if x % i == 0:
      return False
  return True
print (isPrime(3))

#Composite number = a number with more than 2 factors
def isComposite(x):
  if x == 1:
    return False
  for i in range(2,x):
    if x % i == 0:
      return True
  return False
print (isComposite(4))

#Perfect number = a number that is equal to the sum of all its factors
def isPerfect(x):
  sum = 0
  for i in range(1,x):
    if x % i == 0:
      sum += i
  if sum == x:
    return True
  return False
print (isPerfect(6))

#Redundant = a number that its sum of divisors is greater than the number itself 
def isRedundant(x):
  sum = 0
  for i in range(1,x):
    if x % i == 0:
      sum += i
  if sum > x:
    return True
  return False
print (isRedundant(12))
    
#Triangular = a number that can be expressed in the form (n+1)*n / 2
def isTriangular(x):
  for i in range(1,x):
    if (i+1)*i*0.5 == x:
      return True
  return False
print (isTriangular(3))

#or in three steps

def isPosInt(x):
  #check if x is a positive integer
  return x == int(x) and x > 0

def checkSolution(a,b,c):
  #check if equation has positive integer solutions
  if b ** 2 - 4 * a * c < 0:
    return False
  delta = math.sqrt(b ** 2 - 4 * 1 * c)
  solution_a = (-b+delta)/(2*a)
  solution_b = (-b-delta)/(2*a)
  return isPosInt(solution_a) or isPosInt(solution_b)

def isTriangular(x):
  return checkSolution(0.5, 0.5, -x)

#Hexagonal = a number that can be expressed as 2n^2-n 
def isHexagonal(x):
  return checkSolution(2, -1, -x)

True
True
True
True
True

###Pass by Object Reference

**Three Types of Passing**

pass-by-reference              |  T  |   T

pass-by-value                     |  F  |  F

pass-by-object-reference |  F  |   T

Python is a pass-by-object-reference.

See more notes in oneDrive

In [0]:
#Reassignment -> creates a new object, reassign y to the new object
a = [0]
b = a
a = [1]
print(b)  #[0]

#Modify -> modified the object which is relate to both references
x = [0]
y = x
y[0] = 1
print(x)

[0]
[1]

In [0]:
# Reassignment
# Every time we call the function, creates a new storage layer in heap and stack
def reassign(x):
  x = [1]       # this is first layer of x reference
x = [0]         # this x' reference is created on another layer, on top of x
reassign(x)     # this is operated on the latest x'.
                # Once function ends, x' is removed. x remains
print(x)        # this prints the remaining x

In [0]:
def reassign(x):
  x = [1]
  return x
x = [0]
x = reassign(x)
print(x)

[1]

In [0]:
# Modify
def modify(x):
  x[0] = 1     # this creates a new reference, which is assigned to the same value
               # changes the object for both references
x = [0]
modify(x)
print(x)

[1]

In [0]:
def foo(x):    # x' referenced to [0]
  x.append(1)  # x, x' referenced to [0,1]
  x = [2]      # x' referenced to [2]
  x.append(1)  # x' referenced to [2,1]
  return x
x = [0]        # x referenced to [0]
foo(x)
print(x)       #[0,1]

def foo(lst):   # x, lst referenced to []
  lst.append(2) # x, lst referenced to [2]
  lst = [3]     # lst referenced to [3]
  lst.append(4) # lst referenced to [3,4]
  return lst
x = []          # x referenced to []
x = foo(x)      # assigned x to [3,4]
print(x)        #[3,4]

[0, 1]
[3, 4]

In [0]:
a = "abc" # object 1
b = "abc" # object 2
a == b # whether two references are the same
a is b # whether two are the same object

True

In [0]:
# integers cannot be modified, only reassigned
x = 1
y = x
y = 2
print(x) # still 1 because "=" is assignment;

1

###Measure Efficiency

Method 1: Wall time or clock time

* This method is inefficient, because time depends on the hardware and computer

Method 2: CPU cycles or number of instructions our CPU needs to operate

* Number of CPU cycles = constant * size of input
* T(n) = O(n) where Big O is the algorithm complexity for time or space

**Time Complexity**

* Increases with input size
* Asymptotic complexity

1 < log_10(n)=log_2(n) < sqrt(n) < n < nlogn < n^2 < n^3 < 2^n < 10^n < n! < n^n

Examples

N == 2nn^2 + 100000n = n^2n^3, n l

In [0]:
#What is the time complexity for following code?

#1. O(n)
def getEven(n):
  '''return even number smaller than n'''
  res = []
  for i in range(n):
    if i % 2 == 0:
      res.append(i)
  return res

#2. O(n^0.5)
def getSquare():
  '''return square numbers smaller than n'''
  res = []
  i = 0
  while i * i < n:
    res.append(i*i)
    i += 1
  return res

#3. O(lgn) note log_2 same as log_n
def getPowerNumbers(n):
  '''return power numbers of 2 smaller than n'''
  res = []
  i = 0
  while 2 ** i < n:
    res.append(2 ** i)
    i += 1
  return res

#4. O(n^2) = 0 + 1 + 2 + ... (n-1) = n(n-1)/2
def getPorducts(n):
  for i in range(n):
    for j in range(i):
      print i * j

### Object and Class

####object 对象
In the real world, an object can be anything: a dog, a car, etc. Every object consists of two parts:
* states 物理特征 (called properties, characteristics, attributes): for example, the state of a car could be color, VIN number, speed
* Behavior 行为: describes how you will interact with the object or what you can do with it. For example, for a car, you can increase or decrease its speed.

Different objects have different states and behaviors. We can also group different objects by their **kind(category)** if they have the same set of states and behaviors. The only different among them is the actual content of their states.

####[Class 类](https://colab.research.google.com/drive/1g3nOH8fJ6IneSHGuiKOcq_IAaOVg7sF5?authuser=1#scrollTo=nMXrLgXnxa4P)

Class is used to model real world object in software. It was introduced in Java to allow you to describe states and behaviours of objects.

Example:
* We can create as many car objects in python as we want
* Each car should have two attributes: VIN number and speed
* We should be able to accelerate a car by a certain amount
* We should be able to decelerate a car by a certain amount
* We can know what the actual VIN number and speed of each car are if we ask

In [0]:
class Car(object):
  def __init__(self, vin, speed):
    self._vin = vin #_vin becauase internal property, user cannot edit them directly
    self._speed = max(0, speed) #important check
  def vin(self):
    return self._vin
  def speed(self):
    return self._speed
  def accelerate(self, increment):
    self._speed = self._speed + max(0, increment)
  def deccelerate(self, decrement):
    self._speed = self._speed - max(0, decrement)
  
car = Car(1234, 50) #python runtime created raw object 
#Car.__init__(raw object, 1234, 50)
print('the vin and the initial speed of our car is {} and {}'.format(car.vin(), car.speed()))
car.deccelerate(10)
print('the vin and the initial speed of our car is {} and {}'.format(car.vin(), car.speed()))

the vin and the initial speed of our car is 1234 and 50
the vin and the initial speed of our car is 1234 and 40

In [0]:
class Student:
  'Common base class for all students'
  def __init__(self, name, grade, school): #constructor
    self.name = name                       #attributes
    self.grade = grade
    self.school = school
  def display_student(self):
    print ("Name: ", self.name, ", Grade: ", self.grade)
  def __str__():                           #many default methods
    print("Student is a class")

#Using the class to define objects
student_john = Student("John", 35, "laioffer") #create Student object
student_john.display_student()                 #call function
student_john.grade = 90                        #modify value
student_jack = Student("Jack", 37, "Laioffer")
student_jack.display_student()
student_list = []
student_list.append(student_john)
student_list.append(student_jack)
for item in student_list:
  item.display_student()

print (type(student_john))
print (type(Student))