<a href="https://colab.research.google.com/github/lingchm/datascience/blob/master/5_Data_Manipulation_in_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Manipulation in Python

In [0]:
import numpy as np #numpy
import pandas as pd #pandas

In [0]:
!pip install pandasql

## Python Basics

### **Numeric Types**

In [0]:
x = 2 # =>2
print(type(x)) #class 'int'

y = 1.5 # =>1.5
print(type(y)) #class 'float'

# Math
x = x ** 3 #exponential
print(x) 

x += 1 #addiction
print(x)

x %= 2 #modulo
print(x)

x += y #2.5
print(x)

### **Boolean**

In [0]:
t = True
f = False

print(type(t)) # class 'bool' 
print(t or f) # True
print(t and f) # False 
print(not t) # False
print(not f) # True

print(1 or False) # 1 because OR returns the first non-False value

### **String**

Strings are immutable type, which means we can't change the value once initialized.

In [0]:
# Construct string
s1 = 'single quote' # use single quotes
print(type(s1))     # class 'str'

s2= "double quote" # use double quotes 
print(type(s2))    # class 'str'

In [0]:
# String concatenation
s3 = s1 + ' and ' + s2 # string concatenation
print(s3)

In [0]:
# String useful functions
print('Caplitalize the string: ' + s3.capitalize()) # Caplitalize the string 
print('Uppercase the string: ' + s3.upper())        # Uppercase the string
print('\'o\' occurrences: ' + str(s3.count('o')))   # Count the occurrences of a character
print('first \'te\' index: ' + str(s3.index('te'))) # The lowest index of the occurrence

In [0]:
print(s3[1]) # string indexing

In [0]:
# (Advanced)Tripe Quotes
s = '''
You can specify multi-line string.
This is an example.
'''
print(s)

In [0]:
# (Advanced)String format
# escape {{}}
# https://docs.python.org/3/library/string.html#formatstrings
s = "{} is handsome, but {} is not" 
print(s.format('Rayman','Jason'))

s = "{1} is handsome, but {0} is not, {2} is super handsome"
print(s.format('Jason', 'Rayman', 'Mike'))

s = "{name1} is handsome, but {name2} is not"
print(s.format(name2 = 1, name1 = 'Rayman'))

### **List**


List is mutable type

In [0]:
lst1 = [] # initialize an empty list
print(type(lst1)) # class 'List'

lst2 = [1, 2, 3, 4] # create a list with same data type values
print(lst2)

lst3 = ['one', 2, 'three', 4] # create a list with different data type values
print(lst3)

In [0]:
lst2.append(5) # append a new element to end of the list
print(lst2)

lst2.pop(3) # remove the 4th element of the list
print(lst2)

lst2[2] = 100 # list is mutable
print(lst2)

In [0]:
print(lst2[0]) # list indexing
print(lst2[-1]) # negative index, access from end of list
print(len(lst2)) # the length of list
print(lst2 + lst3) # list concatenation

**Slicing**

In [0]:
lst = range(6)    # create an list of numbers using built-in function range
print(type(lst))  # class 'range'

lst = list(lst)   # change to list
print(type(lst))  # class 'list'

# [start(inclusive) : end(exclusive) : step]

print(lst)      # [0, 1, 2, 3, 4, 5]
print(lst[0:6]) # index from 0 to 5, [0, 1, 2, 3, 4, 5]
print(lst[1:])  # index from 1 to the end, [1, 2, 3, 4, 5]
print(lst[:4])  # index from start to 4, [0, 1, 2, 3]
print(lst[:])   # the whole list, [0, 1, 2, 3, 4, 5]
print(lst[:-1]) # negative index slicing, [0, 1, 2, 3, 4]
print(lst[-1:]) # negative index slicing, [5]
print(lst[::2]) # change index step to 2, [0, 2, 4]
print(lst[::-1]) # reverse order, [5, 4, 3, 2, 1, 0], common usage

lst[2:4] = [3, 2] # modify the values by slicing
print(lst)        # [0, 1, 3, 2, 4, 5]

In [0]:
print(lst)
print(lst[:-1]) # negative index slicing, [0, 1, 2, 3, 4]
print(lst[-1:]) # negative index slicing, [5]

In [0]:
print(lst[0:7]) # index from 0 to 5, [0, 1, 2, 3, 4, 5]

In [0]:
ss = 'Hello World!' # initialize a string
print(ss)

print(ss[:])    # the whole list
print(ss[1:3]) # index from 1 to 2

### **Tuple**

A tuple is an (immutable) ordered list of values. A tuple is in many ways similar to a list; one of the most important differences is that tuples can be used as keys in dictionaries and as elements of sets, while lists cannot.

In [0]:
t = (21, 42) # create a tuple
print(type(t))



### **Dictionary**

{key: value} 

key-value pairs

In [0]:
skills = ['ML', 'Stat', 'Coding', 'Business']
scores = [90, 80, 1, 59]

print(scores[skills.index('Coding')])

score_dict = {'ML': 90, 'Stat': 80, 'Coding': 1, 'Business': 59} # create a dictionary
print(score_dict['ML']) # get ML score
print('Stat' in score_dict) # check if 'Stat' in the dictionary

score_dict['Spark'] = 70 # Add a new key-value pair to the dictionary
print(score_dict['Spark'])

print("current score:" + str(score_dict['Coding']))
score_dict['Coding'] = 100 # Modify the existing value in the dictionary
print("afterwards: " + str(score_dict['Coding']))

score_dict.pop('Spark')

### **Set**

A set is an unordered collection of *distinct* elements.

In [0]:
skills = {'ML', 'Stat', 'Coding', 'Business'}       #O(1)
skills_list = ['ML', 'Stat', 'Coding', 'Business']  #O(n)
#What is faster, set or list?
#In theory, set is always faster than list
#In practice, depends on how long the hash function takes to calculate

print('Business' in skills) # check if an element is in a set
print('Spark' in skills_list) # False

skills.add('Spark') # add an element
print(skills)
skills.remove('Spark') # remove an element
print(skills)

## Numpy

NumPy is the fundamental package for scientific computing in Python. It is a Python library that provides a multidimensional array object, various derived objects (such as masked arrays and matrices), and an assortment of routines for fast operations on arrays.

At the core of the NumPy package, is the ndarray object. This encapsulates n-dimensional arrays of homogeneous data types, with many operations being performed in compiled code for performance.

**Arrays**

In [0]:
lst = [[1, 2, 3], [4, 5, 6]] # 2x3
a = np.array(lst)   # create array from lists
print(type(a))      # class 'numpy.ndarray'
print(a)
print(a[0])         # first row
print(a[0][1])      # first row, second column
print(a.shape)      # 2 x 3
print(a.ndim)       # 2 dimensions
print(a.dtype)      # data type of the elements of array
print(a.size)       # total number of elements in the matrix

In [0]:
# useful functions to create numpy array
b = np.arange(0, 10, 2, dtype='float')  # create 1d array, [start, stop)
print(type(b))                          # class 'numpy.ndarray'
print(b)
print(b.shape)

c = np.linspace(1.5, 2.5, 9)            # create 1d array with float, [start, stop]
print(type(c))                          # class 'numpy.ndarray'
print(c)
print(c.shape)

d = np.zeros((2, 3))                    # all zeros
print(type(d))                          # class 'numpy.ndarray'
print(d)

e = np.ones((2, 3))                     # all ones
print(type(e))                          # class 'numpy.ndarray'
print(e)

f = np.full((2, 3), 9)                  # constant matrix
print(type(f))                          # class 'numpy.ndarray'
print(f)

g = np.eye(3)                           # 3 x 3 identity matrix
print(type(g))                          # class 'numpy.ndarray'
print(g)

In [0]:
# reshape
j = d.reshape((2, 3, 1))                # can be 2x3x1 or 3x2x1 as long as = 6
print(j)
print(j.shape)
h = b.reshape((5, 1))
print(h)

# One shape dimension can be -1. 
# In this case, the value is inferred from the length of the array and remaining dimensions.
i = c.reshape((3, -1))
print(i)
print(i.shape)

**Indexing and Slicing**

In [0]:
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])

# Use slicing to pull out the subarray consisting of the first 2 rows
# and columns 1 and 2; b is the following array of shape (2, 2):
# [[2 3]
#  [6 7]]
b = a[:2, 1:3]
print(b)
print(a[1])      # access a row
print(a[:, 1:2]) # access a col
print(a[1, 1])   # access single value

In [0]:
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])

# (Advanced)Two ways of accessing the data in the middle row of the array.
# Mixing integer indexing with slices yields an array of lower rank,
# while using only slices yields an array of the same rank as the
# original array:
r1 = a[0, :]    # rank 1 view of the first row.
r2 = a[0:1, :]  # rank 2 view of the first row. Different results
print(r1, r1.shape)
print(r2, r2.shape)

r1 = r1.reshape(-1, r1.shape[0])
print(r1, r1.shape)

In [0]:
# boolean masking
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])

a_idx1 = (a < 5) # return the boolean array that satisfies the conidtion
print(a_idx1)
a_idx2 = (a >=5) & (a <= 10) # return the boolean array that satisfies the conidtion
print(a_idx2)

print(a[a_idx1]) # return the corresponding array
print(a[a_idx2]) # return the corresponding array

print(a[(a > 5) & (a < 10)]) # single statement

**Math**

In [0]:
a = np.array([[10, 11, 12], [13, 14, 15]])
print(a.shape)
print(a)
b = np.arange(1, 7).reshape((2, 3))
print(b.shape)
print(b)

# element-wise calculation:
print(a + b)
print(a - b)
print(np.add(a, b))
print(a * b)

# Matrix product
print(np.dot(a, b.transpose())) # 2x3, 3x2
print(a.T.dot(b)) # 3x2, 2x3

In [0]:
# Matrix multiplication
#print(a, a.shape)
#print(b, b.shape)
# axb dot b*c -> axc
# 2x3 dot 3x2 -> 2x2
# 3x2 dot 2x3 -> 3x3
print(a.T, a.T.shape)
print(b, b.shape)

print(a.T.dot(b))

In [0]:
# calculation along row or column index, calculate by the index of the axis which is set
# Axis 0 will act on all the ROWS in each COLUMN
# Axis 1 will act on all the COLUMNS in each ROW
# check this link for axis https://stackoverflow.com/questions/22149584/what-does-axis-in-pandas-mean
# https://stackoverflow.com/questions/25773245/ambiguity-in-pandas-dataframe-numpy-array-axis-definition
print(np.sum(a, axis = 0)) # the column is fixed, act along row for this column
print(np.sum(a, axis = 1)) # the row    is fixed, act along column for this row

###Random
* not 100% random -> pseudorandom
* set seed to ensure that every time get the same number

In [0]:
# generate random number
print(np.random.rand(2,2))                  # Random numbers between [0,1) of shape 2,2
print(np.random.randn(2,2))                 # Normal distribution with mean=0 and variance=1 of shape 2,2
print(np.random.randint(0, 10, size=[2,2])) # Random integers between [0, 10) of shape 2,2
print(np.random.random())                   # One random number between [0,1)
print(np.random.random(size=[2,2]))         # Random numbers between [0,1) of shape 2,2
print(np.random.choice(['a', 'e', 'i', 'o', 'u'], size=10)) # Pick 10 items from a given list, with equal probability
print(np.random.choice(['a', 'e', 'i', 'o', 'u'], size=10, p=[0.3, 0.1, 0.1, 0.4, 0.1])) # Pick 10 items from a given list with a predefined probability 'p'
print(np.random.choice(np.arange(100), size=[10,3], replace=True)) # get 10x3 random samples from [0-99] with replacement

In [0]:
# A random seed (random_state)
np.random.seed(21)
print(np.random.random())

In [0]:
np.random.seed(21)
print(np.random.random())

###Split Training and Testing Data

In [0]:
# M1 use random generator to do train/test split

url="https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/d546eaee765268bf2f487608c537c05e22e4b221/iris.csv"
iris = pd.read_csv(url)
print(iris.head())
print(iris.info())

# Split data into training (75%) and testing (25%)
iris_idx = np.arange(iris.shape[0])

num_training = int(np.floor(0.75 * iris.shape[0]))
iris_train_idx = np.random.choice(iris_idx, size=num_training, replace=False)
iris_test_idx = np.delete(iris_idx, iris_train_idx)
iris_train = iris.iloc[iris_train_idx]
iris_test = iris.iloc[iris_test_idx]

print(iris_train.info())
print(iris_test.info())

In [0]:
# M2 use np.random.shuffle
iris_idx = np.arange(iris.shape[0])
np.random.shuffle(iris_idx)
iris.index = iris_idx
num_training = int(np.floor(0.75 * iris.shape[0]))
iris_train = iris.iloc[:num_training]
iris_test = iris.iloc[num_training:]

print(iris_train.info())
print(iris_test.info())

In [0]:
# M3 use sklearn to spilt data
from sklearn.model_selection import train_test_split

X = iris.drop('species', axis = 1)
y = iris['species']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25)

print(X_train.info())

X_train

###Broadcasting

Read more for [broadcasting](https://docs.scipy.org/doc/numpy-1.15.0/user/basics.broadcasting.html)

Advantages
* saves storage space
* relaxes the constraints of matrixes for certain operations

Rule: two dimensions are compatible when
* they are equal
* one of them is 1

In [0]:
# (Advanced+)broadcasting
a = np.array([[10, 11, 12], [13, 14, 15]]) # 2x3
print(a)

a += 1 # add 1 to all the elements # 1
print(a)

a += np.array([-1, -2, -3]) # add [-1, -2, -3] to all columns for each row # 3
print(a)

a += np.array([[-1], [-2]]) # add [[-1], [-2]] to all rows for each column 2x1
print(a)

In [0]:
# Two dimensions are compatible when they are equal, or one of them is 1
a = np.array([1, 2, 3]) # 1x3
b = np.array([[4], [5], [6]]) # 3x1

In [0]:
a+b

## Pandas

**Pandas** is a Python package providing fast, flexible, and expressive data structures designed to make working with “relational” or “labeled” data both easy and intuitive. It aims to be the fundamental high-level building block for doing practical, real world data analysis in Python. Additionally, it has the broader goal of becoming **the most powerful and flexible open source data analysis / manipulation tool available in any language**. It is already well on its way toward this goal.

The two primary data structures of pandas, **Series (1-dimensional)** and **DataFrame (2-dimensional)**, handle the vast majority of typical use cases in finance, statistics, social science, and many areas of engineering. pandas is built on top of **NumPy** and is intended to integrate well within a scientific computing environment with many other 3rd party libraries.

####**Load Data**

In [0]:
import numpy as np
import pandas as pd

In [0]:
# M1 read data from URL
iris = 'https://gist.githubusercontent.com/curran/a08a1080b88344b0c8a7/raw/639388c2cbc2120a14dcf466e85730eb8be498bb/iris.csv'
df_iris = pd.read_csv(iris, sep=',')

In [0]:
# M2 Read data from Google Drive (recommend)
# step 1: change your csv file in Drive as Anyone with the link can view
# https://drive.google.com/open?id=1AbJ1P9aXcjut9ox5lh6oDx4uYnLY2HBQ

file_id='1AbJ1P9aXcjut9ox5lh6oDx4uYnLY2HBQ'
link='https://drive.google.com/uc?export=download&id={FILE_ID}'
csv_url=link.format(FILE_ID=file_id)

df_uk_rain = pd.read_csv(csv_url)

In [0]:
df_uk_rain.columns = ['water_year','rain_octsep', 'outflow_octsep',
                      'rain_decfeb', 'outflow_decfeb', 'rain_junaug', 'outflow_junaug']

In [0]:
df_uk_rain.head()

In [0]:
# M3 Read data from Google Drive (not recommended)
# https://colab.sandbox.google.com/notebooks/io.ipynb

In [0]:
# M4 Upload from local system
from google.colab import files

uploaded = files.upload()

for fn in uploaded.keys():
  print('User uploaded file "{name}" with length {length} bytes'.format(
      name=fn, length=len(uploaded[fn])))

In [0]:
# Save dataframe to CSV and save to local machine
df_uk_rain.to_csv('df.csv', index=False)
from google.colab import files
#files.download('df.csv')

#### **Data Structure**

**Series** is a one-dimensional labeled array capable of holding any data type (integers, strings, floating point numbers, Python objects, etc.). The axis labels are collectively referred to as the index.

**DataFrame** is a 2-dimensional labeled data structure with columns of potentially different types. You can think of it like a spreadsheet or SQL table, or a dict of Series objects. It is generally the most commonly used pandas object.

In [0]:
# Series from list
s = pd.Series([1,3,5,6,8])

print(s)
print(type(s))

In [0]:
# Dataframe from lists
d = pd.DataFrame({'col1': [1,2,3,4,5,6],'col2': ['1', '2', '3', '4', '5', '6'], 'col3': ['1',2,3,4,5,6]})
print(d)

In [0]:
d.info()

In [0]:
print(df_iris.info())

In [0]:
# Dataframe first 5(default) rows
print(df_iris.head(10))
df_iris.tail(2)

In [0]:
# Dataframe information
df_iris.info()

In [0]:
# Dataframe stats information
df_iris.describe()

In [0]:
# column data type
df_iris.dtypes

In [0]:
# index info
df_iris.index

In [0]:
df_iris.columns

In [0]:
# change column names
attributes = ["sepal_length", "sepal_width", "petal_length", "petal_width", "class"]
df_iris.columns = attributes

df_iris.head(1)

#### **Indexing and Slicing**

In [0]:
# use [] square brackets, only columns
df1 = df_iris['sepal_length']
print(df1.head())
print(type(df1))

df2 = df_iris[['sepal_length']]
print(df2.head())
print(type(df2))

df3 = df_iris[['sepal_length', 'petal_length']]
print(df3.head())
print(type(df3))

df4 = df_iris[1:3][['sepal_length','petal_length']]
print(df4)
print(type(df4))

In [0]:
# selection by position, use iloc, endpoint is excluded
df1 = df_iris.iloc[[3]]
print(df1)
print(type(df1))

df2 = df_iris.iloc[3:5,0:2]
print(df2)
print(type(df2))

df3 = df_iris.iloc[[1,2,4],[0,2]]
print(df3)
print(type(df3))

In [0]:
# selection by lable, use loc , endpoint is included
df1 = df_iris.loc[:, 'sepal_length']
print(df1.head())
print(type(df1))

df2 = df_iris.loc[1:3, ['sepal_length', 'petal_length']]
print(df2.head())
print(type(df2))

df3 = df_iris.loc[[1, 3], 'sepal_length':'petal_length']
print(df3)

# if you want to select rows and columns, must be like this
df_iris[1:3][['sepal_length','petal_length']]

In [0]:
# boolean indexing
df1 = df_iris[(df_iris['sepal_length'] > 6.0) & (df_iris['petal_length'] < 5.0)]
print(df1)

In [0]:
df1 = df1.reset_index(drop=True)
print(df1)

#### **Merging**

Read this [document](https://pandas.pydata.org/pandas-docs/stable/merging.html) for more info

In [0]:
# two dataframe join or concatenate
df_right=pd.DataFrame({'year':np.arange(1980,1990),'rain_cn':np.arange(800,810)})
print(df_right)
df_right2=pd.DataFrame({'year': [1991], 'rain_cn': [800]})
print(df_right2)
df_right=pd.concat([df_right, df_right2], ignore_index = True)
print(df_right)

In [0]:
df_right.head()

In [0]:
df_uk_rain.head()

In [0]:
# SQL like inner join:
df_join=pd.merge(df_uk_rain, df_right, left_on='water_year',right_on='year',how='inner')
df_join

#### **Grouping**

Read this [document](https://pandas.pydata.org/pandas-docs/stable/groupby.html) for more info

In [0]:
# groupby: similar to SQL groupby
df_uk_rain.groupby(df_uk_rain['water_year'] // 10 *10)[['rain_octsep','outflow_octsep','rain_decfeb']].max()

## **Data Preprocessing**

*   Duplication
*   Outlier
*   Missing Value

#### **Duplication**

In [0]:
# check if a column has duplicates
df_uk_rain.iloc[np.where(df_uk_rain[['water_year', 'rain_octsep']].duplicated())]

In [0]:
# create a duplicated row as the last row
df_dup=df_uk_rain
df_dup.loc[len(df_dup)]=df_dup.iloc[0]
df_dup.iloc[[0,-1]] # first and last row

In [0]:
# check duplicate rows
df_dup[df_dup.duplicated()]

In [0]:
# remove duplicates
df_dedup=df_dup.drop_duplicates()
df_dedup.iloc[[0,-1]]

#### **Outlier**

boxplot, winsorizing

![alt text](https://www.mathsisfun.com/data/images/outlier.svg)<br>
![alt text](https://statistics.laerd.com/statistical-guides/img/pearson-6.png)

In [0]:
import seaborn as sns
# Simulate data
dt_outlier=np.concatenate([np.random.normal(0,1,1000),np.random.normal(8,1,10)])
sns.set_style('whitegrid')
sns.distplot(dt_outlier)

Outlier Detection： Boxplot  <br>
Interquartile Range(IQR):
IQR= Upper Quantile(Q3) - Lower Quartile(Q1) <br>
Lower Limit = Q1 - 1.5 IQR <br>
Upper Limit = Q3 + 1.5 IQR <br>
![alt text](https://i.stack.imgur.com/mpbTr.gif)

In [0]:
sns.boxplot(dt_outlier,orient='v')

In [0]:
# define a function remove outlier using IQR
def iqr_outlier_rm(dt_input):
  lq,uq=np.percentile(dt_input,[25,75])
  lower_l=lq - 1.5*(uq-lq)
  upper_l=uq + 1.5*(uq-lq)
  return dt_input[(dt_input >=lower_l)&(dt_input<=upper_l)]
  
dt_outlier_ws=iqr_outlier_rm(dt_outlier)
sns.boxplot(dt_outlier_ws,orient='v')

#### **Missing Value**

In [0]:
# create a dictionary
raw_data = {'name': ['Jason', np.nan, 'Mike', 'Rayman', 'Alex', 'Meimei'], 
        'age': [36, np.nan, 36, 18, 36, 16], 
        'gender': ['m', np.nan, 'm', np.nan, 'f', 'f'], 
        'preMLScore': [1, np.nan, np.nan, 2, 3, 90],
        'postMLScore': [65, np.nan, np.nan, 62, 70, 100]}

# create a dataframe by passing a dictionary
df = pd.DataFrame(raw_data, columns = ['name', 'age', 'gender', 'preMLScore', 'postMLScore'])

In [0]:
df

##### **Detect missing values**

In [0]:
df.info() # the overview information for the dataframe

In [0]:
df.describe() # basic stats

In [0]:
df.isnull()

In [0]:
df.isnull().sum() # the number of rows with NaN for each column

In [0]:
df.notnull().sum() # the number of rows without NaN for each column

In [0]:
df.isnull().all(axis=1) # check if there is a NaN in a row

In [0]:
df.isnull().any(axis=0) # check if there is a NaN in a column

##### **Handle Missing Values**

**M1 Elimination**

In [0]:
df.dropna(axis=0) # drop the rows with any NaN, equal to df.dropna(axis=0, how='any')

In [0]:
df.dropna(how='all', inplace=True) # drop the rows that every column is NaN
df = df.reset_index(drop=True)
df

In [0]:
df['playgames'] = np.nan # add an address column that all the values are NaN
df

In [0]:
df.dropna(axis=1, how='all') # drop the column that all values are NaN

In [0]:
df.dropna(thresh=5) # drop the rows without at least five actual value columns

**M2 Imputation**

In [0]:
df.fillna(0) # fill 0 to all missing values

In [0]:
df.gender.fillna(method='ffill') # carry the forward value to the missing value

In [0]:
df.gender.fillna(method='bfill') # carry the backward value to the missing value

In [0]:
df["preMLScore"].fillna(df["preMLScore"].median(), inplace=True) # fill preMLScore with its mean
df